#barra{
        background-color: #333;
        height: 60px;
        
}

#portada{
    background-color: lightgreen;
    height:180px;  
    padding-left: 20px;
     
}
#nomPagina{
    font-family: 'Chewy', cursive;
     color: firebrick;
     margin-top: 0px; 
     padding-top: 10px;
     font-size: 45px;
     color: peru;
     
}

#navB{
    float: right;
 
}

#navB ul{
        list-style: none;
        margin: 0;
        padding-right: 20px;
        padding: 0;
}

#navB ul li{
    display: inline-block;
    line-height: 80px; 
     
      
}

#navB ul li a{
    padding: 0 25px;
     
}



h1{
     color: firebrick;
     margin-top: 0px; 
     padding-top: 10px;
     font-size: 45px;
     color: peru;
     
}

.temas{
    text-align: center;
    font-size: 32px;
    font-family: 'Baloo Bhaina', cursive;
    border-top: solid;
    border-bottom: solid;
    margin-bottom: 15px;
    margin-top: 30px;
    padding-bottom: 5px;
    border-color: purple;
    color: navajowhite;
    background-color: brown;
    
}

#LogoHTML{
    position: absolute;
    top: 300px;
    left:250px;
     
}

#temas1{
    position: absolute;
    top: 550px;
    left: 275px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 25px;
    color: black;
    text-decoration: none;
   

}

div{
   
    width: 830px;
    height: 200px;
    background-color: lightgray;
    text-decoration: none;
    margin-left: 60px;
    margin-right: 40px;
    margin-bottom: 10px;
    border: solid; 
    border-radius: 10px;
      
}

a{
    text-decoration: none;
    color: white;
    
}

.titulo{
    color: dodgerblue;
    margin-top: 5px;
    margin-bottom: 10px;
    margin-top: 35px; 
    text-decoration: none;
    margin-left: 30px;
    font-family: 'Permanent Marker', cursive;
    font-size: 25px;
}

.descripcion{
    font-family: 'Architects Daughter', cursive;
    margin-top: 20px;
    margin-left: 30px;
    font-size: 20px;
    
}

p{
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 18px;
}


.imagen{
    
    float: right;
    margin-top: 60px;
    width: 180px;
    height:180px;
    border-radius: 50%;
    size: 50%;
       
}
